<div class="container">
    {{#each news}}
        <div class="divBlock">
            <img class="img_News" src="{{imgUrl}}" alt="">
            <h2><a class="title" href="/news/{{_id}}">{{title}}</a></h2>
        </div>
    {{/each}}
</div>