<link rel="stylesheet" href="/css/style.css">
{{#each news}}
    <div class="block">
        <img class="img_News" src="{{imgUrl}}" alt="">
        <h2><a class="title" href="/news/{{_id}}"> <h2>{{title}}</h2></a></h2>
    </div>
{{/each}}
